<% content_for :head do %>
  <%= javascript_include_tag "application" %>
<% end %>

<div id='content'>

</div>

<script type="application/json" id="feeds-bootstrap">
  <%= @feeds_json.html_safe %>
</script>