<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="<%= entry.escape('link') %>"><%= entry.escape('title') %></a>
    </h2>
  </div>

  <div class="panel-body">
    <p><%= entry.escape('published_at') %></p>
    <p><%= entry.get('content') %></p>
  </div>
</div>